.App {
  text-align: center;
}

.mainWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }


.overallBox {
  width: 400px;
  background-color: #1c115c;
  border: 2px solid whitesmoke;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}


.overallBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}


.switchButton {
  background-color: #cde1ff;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: black;
  border: 3px solid whitesmoke;
  font-size: 12px;
  transition: 0.3s
}


.switchButton:hover {
  color: #b2bccb;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.first {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #1c115c;
  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.second {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #1c115c;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.first:hover{
  cursor: pointer;
  color: #b2bccb
}

.second:hover{
  cursor: pointer;
  color: #b2bccb
}

.coinLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cde1ff; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: grey;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #b2bccb
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #b2bccb;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color:black
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: black;
}
